<% include ./partials/header.ejs %>

<section class="container">

</section>
<p id="intro"> cumulus is an aggregator of the top and most frequently-occurring words currently floating around the english-speaking news world this current iteration is a proof of concept for an experience we look to improve in future iterations </p>
<p id="intro"> click the hit cumulus api link to see the thirty words appearing most right now in the newsworld </p>
<div>
<a href='users/new' class="button">register new user</a>
<a href='/cumulus-api' class="button">hit cumulus api</a>
<a href='/searches' class="button">see past searches</a>
</div>
<% if (showMore === true) { %>
  <div class='more'>
    <p>test</p>
  </div>
<% } %>

<% include ./partials/footer.ejs %>
