<% include ../partials/header %>

<a href="/users/new">add new cumulus user</a>

<% for (let user of users) { %>
  <div class='user'>
    <p>username: <%= user.username %></p>
    <p>password: <%= user.password %></p>
    <p>fullname: <%= user.fullname %></p>
    <a href='/users/<%= user.id%>'>learn more about cumulus user</a>
  </div>
<% } %>

<% include ../partials/footer %>
