<% include ../partials/header %>

<form method="POST" action="/users">
  <input name="username" type="text" placeholder="username" />
  <input name="password" type="text" placeholder="password" />
  <input name="fullname" type="text" placeholder="fullname" />
  <input type="submit" value="create cumulus user" />
</form>

<% include ../partials/footer %>
