html, body {
  height: 100%;
  width: 100%;
  margin-top: 150px;
  text-align: center;
  background-color: #EBEDEF;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
  color: black;
  text-align: center;
  display: inline;
  margin-top: 200px;
}

h2 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 14px;
  font-weight: 0;
  color: black;
  text-align: center;
  display: block;
  margin-top: 50px;
  margin-bottom: 20px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.resulttag {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.button {
  background-color: #474a4f;
  font-family: 'Roboto', sans-serif;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

#intro {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

img {
  height: 100px;
  width: 100px;
  display: inline-block;
  text-align: center;
  margin-top: -200px;
}

footer {
  margin-top: 160px;
  position: absolute;
  font-family: 'Roboto', sans-serif;
}
