html, body {
  height: 100%;
  width: 100%;
  margin-top: 150px;
  text-align: center;
  background-color: #EBEDEF;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
  color: black;
  text-align: center;
  display: inline;
  margin-top: 200px;
}

h2 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  display: block;
  margin-top: 50px;
  margin-bottom: 100px;
}

h3 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 14px;
  font-weight: 0;
  color: black;
  text-align: center;
  display: block;
  margin-top: 50px;
  margin-bottom: 20px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

#links {
  font-family: 'Roboto', sans-serif;
  margin-top: 40px;
}

img {
  height: 100px;
  width: 100px;
  display: inline-block;
  text-align: center;
  margin-top: -200px;
}

footer {
  margin-top: 160px;
  position: absolute;
}
