<% include ../partials/header %>

<a href="/">go back to homepage</a>
<% for (let search of searches) { %>
  <div class='search'>
    <p>result: <%= search.result %> </p>
    <p>date created: <%= search.date_created %> </p>
    <a href='/searches/<%= search.id%>'>learn more about cumulus search</a>
  </div>
<% } %>

<% include ../partials/footer %>

